@charset "UTF-8";
:root {
  /* colours */
  --primary: #000000 ;
  --secundary: #d333ff8e;
  --third: #808080;
  /* espacios */
  --spaicing-large: 6rem;
  --spaicing-medium: 2.4rem;
  --spaicing-small: 2rem;
  --spaicing-xsmall: 1rem;
  /* tamaño de fuentes */
  --text-large: 5em;
  --text-medium: 3em;
  --text-small: 1.5em;
  /* fuentes */
  --font-title: 'Nunito Sans', sans-serif;
  --font-subtitle:'Barlow', sans-serif;
  --font-text: 
; }

*::after
*::before
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #00000017;
  font-size: var(--spaicing-small); }

ul {
  list-style-type: none;
  color: #000000; }

li {
  display: inline; }

a {
  text-decoration: none; }

img {
  width: 100%; }

h1 {
  padding: var(--spaicing-small); }

/*index*/
header {
  display: flex;
  justify-content: center;
  font-size: var(--text-xsmall);
  gap: var(--spaicing-small); }

.titulo1 {
  font-size: var(--text-medium); }

.caja {
  padding: var(--spaicing-xsmall);
  margin: var(--spaicing-xsmall); }

.caja1 {
  background-color: #FFBBEC;
  padding: var(--spaicing-medium); }

.ima__ind {
  display: flex;
  padding: var(--spaicing-small);
  justify-content: var(--spaicing-xsmall); }

.foto__ind {
  padding: var(--spaicing-xsmall); }

.caja2 {
  background-color: #FFBBEC;
  padding: var(--spaicing-medium);
  transform: translate(50px); }

.piep {
  padding: 1rem;
  margin: 1rem; }

footer {
  display: flex;
  justify-content: var(--spaicing-medium);
  gap: var(--spaicing-medium);
  padding: var(--spaicing-xsmall) 0;
  max-width: 120px; }

/* tour */
.fechas__tour {
  display: flex;
  flex-direction: column;
  padding: var(--spaicing-small); }

/* redes sociales*/
/*galeria*/
.titulo__im {
  font-size: var(--text-small);
  padding-top: var(--spaicing-medium); }

.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: var(--spaicing-xsmall); }

.galeria__img:nth-of-type(1) {
  grid-column: 1 / 5; }

.galeria__img:nth-of-type(2) {
  grid-column: 5 / 9; }

.galeria__img:nth-of-type(3) {
  grid-column: 9 / 13; }

.galeria__img:nth-of-type(4) {
  grid-column: 1 / 7; }

.galeria__img:nth-of-type(5) {
  grid-column: 7 / 13; }

.galeria__img:nth-of-type(6) {
  grid-column: 1 / 6; }

.galeria__img:nth-of-type(7) {
  grid-column: 6 / 13; }

/* musica */
/* contacto */
.cont__txt {
  padding: var(--spaicing-small); }

.con__for {
  display: flex;
  padding: var(--spaicing-small);
  margin: var(--spaicing-xsmall);
  flex-direction: column;
  padding: var(--spaicing-small);
  background-color: var(--secundary); }

@media screen and (max-width: 780px) {
  body {
    flex-direction: column; } }

@media screen and (max-width: 450) {
  body {
    flex-direction: column; } }
