*::after *::before * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #000000;
  font-size: 2rem;
  color: #ffffff; }

ul {
  list-style-type: none;
  color: #000000; }
  ul li {
    display: inline; }
  ul a {
    text-decoration: none; }

img {
  width: 100%; }

h1 {
  padding: 2rem; }

/*index*/
header {
  display: flex;
  background-color: #000000;
  font-size: 1rem;
  gap: 2rem; }

.titulo1 {
  font-size: 3em; }

.caja {
  padding: 1.5em;
  margin: 1.5em; }
  .caja .caja1 {
    background-color: #D052D1;
    padding: 2.4rem; }

.ima__ind {
  display: flex;
  padding: 2rem;
  justify-content: 1rem; }
  .ima__ind .foto__ind {
    padding: 1rem; }

.caja2 {
  background-color: #FFBBEC;
  padding: 2.4rem;
  transform: translate(50px); }

footer {
  display: flex;
  justify-content: 1rem;
  gap: 2.4rem;
  padding: 1rem 0;
  max-width: 120px; }
  footer .piep {
    padding: 1rem;
    margin: 1rem; }

/* tour */
.fechas__tour {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #ffffff; }

/* redes sociales*/
/*galeria*/
.titulo__im {
  font-size: 1.5em;
  padding-top: 2.4rem; }

.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem; }

.galeria__img:nth-of-type(1) {
  grid-column: 1 / 5; }

.galeria__img:nth-of-type(2) {
  grid-column: 5 / 9; }

.galeria__img:nth-of-type(3) {
  grid-column: 9 / 13; }

.galeria__img:nth-of-type(4) {
  grid-column: 1 / 7; }

.galeria__img:nth-of-type(5) {
  grid-column: 7 / 13; }

.galeria__img:nth-of-type(6) {
  grid-column: 1 / 6; }

.galeria__img:nth-of-type(7) {
  grid-column: 6 / 13; }

/* musica */
/* contacto */
.cont__txt {
  padding: 1rem; }

.con__for {
  display: flex;
  flex-direction: column;
  background-color: #D052D1;
  width: 300px;
  border: 5px solid rgba(60, 0, 128, 0.473);
  padding: 10px;
  margin: 20px; }

@media screen and (max-width: 780px) {
  body {
    flex-direction: column; } }

@media screen and (max-width: 450) {
  body {
    flex-direction: column; } }
