$color-primary: #000000;
$color-secundary: #d333ff8e;

$spaicing-large: 6rem;
$spaicing-medium: 2.4rem;
$spaicing-small: 2rem;
$spaicing-xsmall: 1rem;

$text-large: 5em;
$text-medium: 3em;
$text-small: 1.5em;

$font-title: 'Nunito Sans', sans-serif;
$font-subtitle: 'Barlow', sans-serif;


