$color-primary: #000000;
$color-secundary: #D052D1;
$color-a: #4e2041;

$spaicing-large: 6rem;
$spaicing-medium: 2.4rem;
$spaicing-small: $spaicing-large -4;
$spaicing-xsmall: $spaicing-large -5;

$text-large: 5em;
$text-medium: 3em;
$text-small: 1.5em;

$font-title: 'Nunito Sans', sans-serif;
$font-subtitle: 'Barlow', sans-serif;


