<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <title> GALERIA </title>
    <link rel="shortcut icon" href="/assets/img/logottt.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header__img">
            <a href="../index.html"> <img src="../assets/img/Tini_martina_stoessel_logo.png" alt="logottt"> </a>
        </div>
        <nav>
            <ul class="menuSuperior">
                <li> <a href="../index.html"> HOME </a></li>
                <li> <a href="tour.html"> TOUR </a></li>
                <li> <a href="redes.html"> REDES SOCIALES </a></li>
                <li> GALERIA </li>
                <li> <a href="musica.html"> MUSICA </a></li>
                <li> <a href="contacto.html"> CONTACTO </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="titulo__im"> Galeria </h1> <br><br>

        <section class="galeria">



            <picture class="galeria__img">
                <img src="../assets/img/arribam.jpg" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/deesp.jpg" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/conmic.jpg" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/tiniesf.png" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/caratini.jpg" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/tinisentesf.jpg" alt="Martina Stoessel">
            </picture>

            <picture class="galeria__img">
                <img src="../assets/img/TINI.jpg" alt="Martina Stoessel">
            </picture>
            
        </section>
        <div>
            <video width="350" height="240" controls>
                <source src="/assets/img/y2mate.com - TINI  La Triple T Official Video_v720P.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </main>
    <br>
    <footer>
        <div class="piep">
            <img src="../assets/img/Tini_martina_stoessel_logo.png" alt="logottt">
        </div>
    </footer>
</body>

</html>