<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS PROPIO -->
<link rel="stylesheet" href="/assets/css/estilos.css">
    <title> TOUR </title>
    <link rel="shortcut icon" href="/assets/img/logottt.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header__img" >
            <a href="../index.html"> <img src="../assets/img/Tini_martina_stoessel_logo.png" alt="logottt"></a>
        </div>
        <nav> 
            <ul class="menuSuperior">
                <li> <a href="../index.html"> HOME </a></li>
                <li> TOUR </li>
                <li> <a href="redes.html"> REDES SOCIALES </a></li>
                <li> <a href="galeria.html"> GALERIA </a></li>
                <li> <a href="musica.html"> MUSICA </a></li>
                <li> <a href="contacto.html"> CONTACTO </a></li>
            </ul>
        </nav>
    </header>
    <main>
        TOUR 2022 
        <br> <br>
        FECHA/UBICACION 
        <br>
        FECHA/UBICACION
        <br>
        FECHA/UBICACION 
        <br>
        FECHA/UBICACION 
        <br>
    </main>
    <br>
    <footer>
        <div class="piep">
            <img src="../assets/img/Tini_martina_stoessel_logo.png" alt="logot" width="100" height="50"> 
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>