/*VARIABLES DE COLORES*/
$color_principal: #000000;
$color_secundario: #D052D1;
$color-a: #CFD8DC;
$color_cajas: #b44695; 

/*VARIABLES DE ESPACIO*/

$spaicing-large: 6rem;
$spaicing-medium: 2.4rem;
$spaicing-small: $spaicing-large -3;
$spaicing-xsmall: $spaicing-large -5;

/*VARIABLES DE TAMAÑO*/

$text-large: 5em;
$text-medium: 3em;
$text-small: 1.5em;

